/* Write your CSS here. */

.wgs {
  height: 241px;
  width: 320px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.wgs__molehead {
  height: 178px;
  width: 188px;
  position: absolute;
  left: 54px;
  right: 77px;
  transition-property: margin-top;
  transition-duration: .25s;
}

.wgs__dirtpile {
  height: 110px;
  width: 320px;
  position: absolute;
  bottom: 0;
}

.wgs__molehead--hidden{
  margin-top: 241px;
}

.pf {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);

}

.end {
  /* position: fixed;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  height: 100%;
  width: 100%; */
  background-image: url('./youwin.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
